<%- include('partials/header.ejs') %>

<section id="title" class="gradient-background">
  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold " style="color: rgb(6, 149, 245);">Share your passions and create a stunning, unique blog effortlessly.</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"> 
        Share your thoughts anonymously, without concern for societal judgment.
      </p>

      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3" id="blogButton">Be A Blogger</button>
        <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Contact Us</button> -->
        <a href="/contact" class="btn btn-outline-secondary btn-lg px-4">Contact Us</a>
      </div>
      <div class="circle">
        <div class="wave"></div>
      </div>

    </div>
</section>



  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic">How to Build a Blog That’s Truly Yours: Create a Unique Online Space</h1>
      <p class="lead my-3">Discover how to create a blog that truly reflects who you are—where your unique style, 
        voice, and passions come together effortlessly. In this post, 
        we’ll walk through tips and tools for building a personalized space online,
         showing you how easy it is to share your stories and connect with readers authentically. 
         Whether you’re a new blogger or looking to refresh your platform, this guide will help you make your blog a meaningful extension of yourself.</p>
      <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Continue reading...</a></p>
    </div>
  </div>

  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Why use our blog?</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <img src="images/anonymity.svg" alt="briefcase" height="30">
        </div>
        <h3 class="fs-2"> Complete Anonymity</h3>
        <p>Your privacy is our top priority. When you post on the blog, 
            your identity remains completely hidden, 
            ensuring that no one can trace what you’ve shared. 
            This anonymity allows you to express yourself openly, 
            free from personal scrutiny. You can write without the fear of being recognized or judged by others.</p>
        <a href="#" class="icon-link">
          Create a Blog.
          <img src="images/chevron-right.svg" alt="chevron-right">
        </a>
      </div>
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <img src="images/plainheart.svg" alt="bus-front" height="30">
        </div>
        <h3 class="fs-2">Honest Expression</h3>
        <p>In a world where social pressure often shapes what we say, 
            this blog offers a space to share your true thoughts. 
            You no longer have to filter your feelings or opinions to fit societal expectations. 
            Here, you can be fully honest about your experiences and perspectives, knowing that your words will be received without bias.</p>
        <a href="#" class="icon-link">
          Create a Blog.
          <img src="images/chevron-right.svg" alt="chevron-right">
        </a>
      </div>
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <img src="images/society.svg" alt="chat-square-heart" height="30">
        </div>
        <h3 class="fs-2">Judgment-Free Space</h3>
        <p>The blog creates a safe and welcoming environment for all users. 
            It encourages meaningful conversations where people can engage openly without fear of criticism. 
            No matter how sensitive or controversial your thoughts may be, 
            this platform allows you to express yourself without worrying about societal backlash or judgment.</p>
        <a href="#" class="icon-link">
          Create a Blog.
          <img src="images/chevron-right.svg" alt="chevron-right">
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="images/couple.jpg" class="d-block w-100" alt="couple" >
        </div>
        <div class="carousel-item">
          <img src="images/dog.jpg" class="d-block w-100" alt="dog" >
        </div>
        <div class="carousel-item">
          <img src="images/family.jpg" class="d-block w-100" alt="family" >
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="row mb-2" style="padding-top: 60px;">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">Fashion</strong>
          <h3 class="mb-0">Vogue</h3>
          <div class="mb-1 text-body-secondary">Oct 28th</div>
          <p class="card-text mb-auto">Vogue’s Vintage Directory
            The Best Vintage Stores in Milan <br>By Selene Oliva</p>
          <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue reading
            <svg class="bi"><use xlink:href="#chevron-right"/></svg>
          </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="images/vogue.jpg" alt="placeholder-img" width="200" height="250">
          <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success-emphasis">Arts and Crafts</strong>
          <h3 class="mb-0">handicraft</h3>
          <div class="mb-1 text-body-secondary">Oct 29th</div>
          <p class="mb-auto">activity involving the making of decorative domestic or other objects by hand. <br>
            "the traditional handicrafts of this region"</p>
          <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue reading
            <svg class="bi"><use xlink:href="#chevron-right"/></svg>
          </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="images/artsandcraft.jpg" alt="placeholder-img" width="200" height="250">
          <!-- <svg class="bd-placeholder-img"  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
        </div>
      </div>
    </div>
  </div>


  <%- include('partials/footer1.ejs') %>