<%- include('partials/header.ejs') %>

<header class="header-section">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1 class="display-4 fw-bold"  >Get in Touch: </h1>
                    <p class="lead mb-3">We’d Love to Hear From You!</p>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="secondSec">

  <div class="card text-center py-4">
      <div class="card-header">
        <!-- <h2> Feedback⭐⭐⭐⭐⭐</h2> -->
      </div>
      <div class="card-body" id="mailCard">
        <p class="card-text">Reach Out Anytime—We’re Just an Email Away!.</p>
        <a href="mailto:oni.adeola524@gmail.com" class="btn mailBtn btn-lg px-lg-5 me-md-2">Gmail</a>
      </div>
      <div class="card-footer text-body-secondary">
        
      </div>
    </div>
</section>


<div class="pricing-container">

  <div class="card text-start  pricing-plan" style="width: 25rem;">
    <div class="card-body firstCard">
      <p class="card-text">Chat with Us on WhatsApp.</p>
      <a href="https://wa.me/+2348146161787?text=Hello%20there!%20I%20have%20a%20question." target="_blank"  class="btn plan-button"><img src="/images/whatsapp.svg" alt="whatsapp" width="25rem"></a>
    </div>
  </div>
  
  <div class="card text-center pricing-plan" style="width: 25rem;">
    <div class="card-body secondCard">
      <p class="card-text">Connect with Us on X.</p>
      <a href="https://x.com/Adeola5_24" class="btn  plan-button"><img src="/images/twitter-x.svg" alt="x" width="25rem"></a>
    </div>
  </div>
  
  <div class="card text-end pricing-plan" style="width: 25rem;">
    <div class="card-body thirdCard">
      <p class="card-text">Explore Our Code on GitHub.</p>
      <a href="https://github.com/charming0524" class="btn  plan-button"><img src="/images/github.svg" alt="github" width="25rem"></a>
    </div>
  </div>
</div>


<%- include('partials/footer.ejs') %>